// $backgroundColor: rgba(0.03, 0.16, 0.25, 0.2);
// $backgroundColor: rgba(0, 0, 0, 0.2);

%position {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.2);
}